.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span12
      .span10.offset2
        %h5 Thank you for signing up for Rook Beta!
        %h5 You will be contacted by email when your account is activated
