.row-fluid
  .span12
.row-fluid
  .span3.offset2
    %form{ :action => "/beta_signup", :method => "POST"}
      %fieldset
        %legend Beta Sign Up
        %label{:for => "username"} Username:
        %input{:type => "text", :name => "user[username]",
               :value => @username, :id => "username"}
        %label{:for => "email"} Email:
        %input{:type => "text", :name => "user[email]", :value => @email, :id => "email"}
        %label{:for => "password"} Password:
        %input{:type => "password", :name => "user[password]", :value => @password,
               :id => "password"} 
        %label{:for => "password_confirmation"} Confirm:
        %input{:type => "password", :name => "user[password_confirmation]",
               :value => @password_confirmation, :id => "password_confirmation"}
      %button{:type => "submit", :class => "btn"}Submit
  .span4
    %h3 Rook Beta
    %h4 What is Rook?
    %p This is my Apprenticeship Thesis project. It is an open source project I have been creating (with Sinatra) to hone my skills as a Ruby apprentice. The goal is for those with knowledge to create learning opportunities. Whether it be pairing on a kata in Ruby or a whole course in Common Lisp I want to make it easier for people to offer their time/skills and easier for people to find those opportunities.
    %h4 Potential Mentorees:
    %p Where do you start? Everyone has a different learning style. Rook is shaped according to my preferred style, learning by doing. I started to learn Ruby at the beginning of this year. After a month buried in books and tutorials, I didn't know what to do. I needed direction-a harness for my newly found love of programming. I made a post on Reddit and asked the question, "How did you get your first job developing Ruby?". 
    %p Redditors directed me to first find local user groups, which is rock solid advice I now pass on to everyone I know who is starting out. Then they did something I was not expecting, a few offered to spend time pairing with me. This was the first time I felt the true generosity and passion of developers, a positive quality shared by every true craftsman I have ever met.
    %p Two days after I made that post I was learning TDD from someone I had never met who had over 15 years of experience, on a Friday night. My palms were sweating as he spent an hour and a half with me on Skype talking through red, green, refactor and some basic Rails. He had the time, and he gave it to me, a complete internet stranger newbie. I was in awe. It didn't end there.
    %p Another person from England spent the next month pairing with me as we went through Micheal Hartl's Rails Tutorial together. He had a CS degree and was an iOS developer but he wanted to learn Rails. So why not pair with a new person? And during that awesome time of getting up early to make bad english jokes I went to my first user group and met Cory. I started meeting with for a few hours every week and pairing. Little did I know, not only was he yet another person helping me, he was looking for an Apprentice for Groupon.
    %p Because of my interaction and experience with other developers, my enthusiasm for learning was on fire. Turns out that is exactly the kind of person Groupon was looking for. So, three months after I had touched my first terminal window, I was officially an Apprentice due in no small part to a shot in the dark question on Reddit.
    %h4 Potential Mentors:
    %p In addition to developing this app for potential mentees, I am developing this app to make it easier for passionate craftsmen to pass their skills on to others. Whether it be to fellow craftsmen or brand new apprentices, there is a demand for your knowledge.
    %p Teaching is learning and Rook aims to make passing on those skills dirt simple. The developer community is full of knowledge and if Rook can tap just a fraction of that to pass on to others, the community will only get better. 
    %h4 Developing Rook:
    %p Based on my experience, I want to make it easier for others to learn. I want to make an official place for people to find/create learning opportunities. Whether it be a course, pairing on a project, doing a tutorial together or even just a short kata, I want to make the Rookery the place to go pass on your craft to others and for clever birds to hone their skills.
    %p Right now, I have the foundation built. But I want to develop the rest of the features for real users.  And that is where you come in. Over the next couple of weeks I want to gather beta users and start a feedback loop. I would like to know what you want from Rook. What will make it easier for you to take an hour out of your day to to remote pair with someone? What will make it easier for you to find the types of learning opportunities you are most interested in?
    %p To that end, I have started a subreddit /r/rook for discussing potential features, bugs and news about development. Won't you fly with us?

