%h1 Welcome to Rook
%li(id="links")
  %a(href="opportunity")Create
  %a(href="signup")Sign-Up
  %a(href="login")Login
  %a(href="logout")Logout
%table
  %thead
    %tr(id="header")
      %th(colspan="4")Available Opportunities!
    %tr(id="titles")
      %th Title
      %th Skills
      %th Description
      %th
  %tbody
    - @opportunities.each do |opportunity|
      %tr(id="elements")
        %td= opportunity.title
        %td= opportunity.skills 
        %td= opportunity.description
        %td
          %form{ :action => "/bookings", :method => "POST"}
            - @opportunity = opportunity.id
            %input{:name => "opportunity", :type => "hidden", :value => @opportunity}
            %input{:type => "submit", :value => "Book it!", :class => "button"}
= will_paginate @opportunities
