.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span1
    .span10
      .row-fluid
        .span12.content-nav
          .span3.offset1
            %ul(class="nav nav-pills")
              %li
                %a(href='/')All
              %li
                %a(href='/opportunity')Create
          -if logged_in?
            #user-nav.span8
              %ul(class="nav nav-pills")
                %li
                  %a(href='/?subview=authored_partial')Authored
                %li
                  %a(href='/?subview=booked_partial')Booked
                %li
                  %a(href='/?subview=contacted_partial')Contacted
      #page-content.row-fluid
        -if @content == true
          = haml :all_partial, :layout => false
