.row-fluid
  .span12
.row-fluid
  .span6.offset2
    %form{ :action => "/login", :method => "POST"}
      %fieldset
        %legend Login
        %label{:for => "username"} Username:
        %input{:type => "text", :name => "username",
               :value => @username, :id => "user_username"}
        %label{:for => "password"} Password:
        %input{:type => "password", :name => "password", :value => @password,
               :id => "user_password"}
      %button{:type => "submit", :class => "btn"}Submit
.row-fluid
  .span6.offset2
    %a(href='/request_password_reset')Forget your password?
