%h1 Create an Opportunity
%form{ :action => "/opportunity", :method => "POST"}
  %fieldset
    %ol
      %li
        %label{:for => "title"} Title:
        %input{:type => "text", :name => "opportunity[title]", :value => @title, :id => 'title'}
      %li
        %label{:for => "skills"} Skills:
        %input{:type => "text", :name => "opportunity[skills]", :value => @skills, :id => 'skills'}
      %li
        %label{:for => "desc"} Description:
        %textarea{:name => "opportunity[description]", :value => @description, :id => 'desc'}
      %input{:type => "submit", :value => "Submit", :class => "button"}

