.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span6.offset2
      %h2 Opportunity: #{opportunity.title}
    .span6.offset2
      %h4 Description: #{opportunity.description}
  .row-fluid
    .span12
    .span6.offset2
      %form{ :action => "/opportunity/contact.#{opportunity.id}", :method => "POST"}
        %fieldset
          %label{:for => "title"} Send them a message:
          %input{:type => "text", :placeholder => "Show your interest",
                 :name => "body", :id => "Message:"}
        %button{:type => "submit", :class => "btn"}Send
