.row-fluid
  .span12
.row-fluid
  .span6.offset2
    %form{ :action => "/opportunity", :method => "POST"}
      %fieldset
        %legend Create an Opportunity
        %label{:for => "title"} Title:
        %input{:type => "text", :placeholder => "Title", 
               :name => "opportunity[title]", :value => @title, :id => 'title'}
        %label{:for => "skills"} Skills:
        %input{:type => "text", :placeholder => "Ruby, Javascript, TDD...",
               :name => "opportunity[skills]", :value => @skills, :id => 'skills'}
        %label{:for => "desc"} Description:
        %textarea{:name => "opportunity[description]", :placeholder => "What do you want to work on?", 
                  :value => @description, :id => 'desc'}
      %button{:type => "submit", :class => "btn"}Submit
