.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span12
      .span10.offset2
        .table
          %table{:class => 'horizontal-striped'}
            %thead
              %tr
                %th Title
                %th Description
            %tbody
              %tr{:class => 'error'}
                %td= opportunity.title
                %td= opportunity.description
        %a{:href => "/opportunity/destroy.#{opportunity.id}",
           :class => "btn btn-large"}Confirm Delete
