.row-fluid
  .span12
.row-fluid
  .span6.offset2
    %form{ :action => "/password_reset.#{@user.id}", :method => "POST"}
      %fieldset
        %legend Password Reset
        %label{:for => "password"} New Password:
        %input{:type => "password", :name => "password",
               :id => "password"}
        %label{:for => "confirm_password"} Confirm Password:
        %input{:type => "password", :name => "confirm_password",
               :id => "confirm_password"}
      %button{:type => "submit", :class => "btn"}Submit
