.row-fluid
  .span12
.row-fluid
  .span6.offset2
    %form{ :action => "/request_password_reset", :method => "POST"}
      %fieldset
        %legend Request Password Reset
        %label{:for => "email"} Email:
        %input{:type => "text", :name => "email",
               :id => "email"}
      %button{:type => "submit", :class => "btn"}Submit
