%form{ :action => "/password/update.#{user.id}", :method => "POST"}
  %fieldset
    %legend Change Password
    %label{:for => "current_password"} Current Password:
    %input{:type => "password", :name => "user_passwords[current_password]",
           :id => "Current Password:"}
    %label{:for => "new_password"} New Password:
    %input{:type => "password", :name => "user_passwords[password]",
           :id => "New Password:"}
    %label{:for => "confrim_password"} Confirm Password:
    %input{:type => "password", :name => "user_passwords[confirm_password]",
           :id => "confirm_password:"}
  %button{:type => "submit", :class => "btn"}Submit
