%h1 Hello, #{@current_username} 
%li(id="links")
  %a(href="opportunity")Create
  %a(href="login")Login
%table
  %thead
    %tr(id="header")
      %th(colspan="3")Available Opportunities!
    %tr(id="titles")
      %th Title
      %th Skills
      %th Description
  %tbody
    - @user_opportunities.each do |opportunity|
      %tr
        %td= opportunity.title
        %td= opportunity.skills 
        %td= opportunity.description
