.container-fluid
  .row-fluid
    .span12
  .row-fluid
    .span2.offset1
      = haml :update_user_partial, :layout => false, :locals => { :user => current_user }
    .span5.offset1
      .row-fluid
        .span5
      .row-fluid
        .span5
          = haml :user_profile_partial, :layout => false, :locals => { :user => current_user }
