body {
  padding-top: 125px;
  padding-bottom: 40px;
}

.navbar .nav {
  margin-top: 58px;
}

#flash {
  position: absolute;
  margin-left: 20;
}

#main {
  padding-top: 30px;
}

input {
  height: 25px !important;
}

.dl-no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.span-add-padding {
  padding-top: 15px;
}

.content-nav {
  font-size: 25px
}
