body {
  padding-top: 100px;
  padding-bottom: 40px;
}

.navbar .nav {
  margin-top: 58px;
}

#flash {
  position: absolute;
  margin-left: 100;
}

#main {
  padding-top: 30px;
}

input {
  height: 25px !important;
}

.dl-no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.i-padding-top {
  padding-top: 20px;
}

