body {
  font-family: arial;
}
h1 {
  background-color:#CCC
  border: 1px solid;
  color:#707070;
  text-align: center;
}
li#links {
  margin-left: 25%;
}
table {
  background-color: #B0B0B0;
  border: 1px solid: #39f;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
thead {
  background-color: #D0D0D0;
}
form {
  background-color: #B0B0B0;
  border: 1px solid: #39f;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

